@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');
/* Banner section style */
.banner-section {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../media/images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 480px;
  margin: 30px 150px 120px 150px;
}

.banner-h5 {
  color: white;
  position: absolute;
  top: 25%;
  left: 44%;
  font-family: Merriweather;
  font-size: 24px;
  font-weight: 400;
}

.banner-h2 {
  color: white;
  position: absolute;
  top: 30%;
  left: 39%;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 900;
  line-height: 50px;
  width: 400px;
}

.space {
  position: absolute;
  top: 90px;
  left: 25px;
}

/* offer section style */

.offer-container {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

.main-offer {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.offer-pera {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 45px;
}

.offer-categories {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 10px;
}

.offer-image {
  width: 550px;
  display: block;
  margin: 0 auto;
  margin-bottom: 120px;
}

/* welcome section style */
.greeting-container {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../media/images/Vectorrr.png");
  background-repeat:no-repeat;
  background-position: center;
  background-size: 100%;
  height: 410px;
  margin: 30px 150px 120px 150px;
  border-radius: 16px;

}

.greeting-container {
  display: flex;
  justify-content: space-around;
  gap:0px;
}
.welcome-message{
  padding-left: 100px;
  padding-top: 40px;
}
.welcome-h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 137.5% */
  letter-spacing: 7.04px;
  width: 500px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 30px; /* 166.667% */
  width: 540px;
  margin-bottom: 30px;
}

.welcome-join {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 550;
  text-transform: uppercase;
  padding-left: 40px;
}

.greeting-container{
  padding-bottom: 60px;
}
.new-year-24{
  width:73%;
  padding-top: 60px;
}
