@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
/* Banner section style */

/* body{
  background-color: aqua;
} */
.banner-section {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../media/images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 480px;
  margin: 30px 150px 120px 150px;
}

.banner-h5 {
  color: white;
  position: absolute;
  top: 25%;
  left: 44%;
  font-family: Merriweather;
  font-size: 24px;
  font-weight: 400;
}

.banner-h2 {
  color: white;
  position: absolute;
  top: 30%;
  left: 39%;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 900;
  line-height: 50px;
  width: 400px;
}

.space {
  position: absolute;
  top: 90px;
  left: 25px;
}

/* offer section style */

.offer-container {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

.main-offer {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.offer-pera {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 45px;
}

.offer-categories {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 10px;
}

.offer-image {
  width: 550px;
  display: block;
  margin: 0 auto;
  margin-bottom: 120px;
}

/* welcome section style */
.greeting-container {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../media/images/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 410px;
  margin: 30px 150px 120px 150px;
  border-radius: 16px;
}

.greeting-container {
  display: flex;
  justify-content: space-around;
  gap: 0px;
}
.welcome-message {
  padding-left: 100px;
  padding-top: 40px;
}
.welcome-h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 137.5% */
  letter-spacing: 7.04px;
  width: 500px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 30px; /* 166.667% */
  width: 540px;
  margin-bottom: 30px;
}

.welcome-join {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 550;
  text-transform: uppercase;
  padding-left: 40px;
}

.greeting-container {
  padding-bottom: 60px;
}
.new-year-24 {
  width: 73%;
  padding-top: 60px;
}

/* place date & time section style */
.place-date-time-section {
  width: 77%;
  height: 320px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  margin: 120px auto;
  border-radius: 16px;
}

.important-text {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px; /* 175% */
  text-transform: capitalize;
}

.dark {
  color: #070211;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  text-transform: capitalize;
}

.pdt {
  padding-top: 90px;
}

.primary-button {
  display: inline-flex;
  padding: 14px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  border-style: none;
  margin-top: 40px;
}

.btn-style {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/* coming soon section style */
.coming-soon {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 72%;
  height: 320px;
  /* background-color: aqua; */
  margin: 120px auto;
}

.left-side {
  width: 400px;
  padding-top: 40px;
}

.left-side > h5 {
  color: #f00;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500px;
  padding-top: 50px;
  margin: 0;
  padding-bottom: 5px;
}
.left-side > h2 {
  color: black;
  font-family: Merriweather;
  font-size: 34px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 0;
}
.left-side > p {
  color: rgb(92, 91, 91);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px; /* 160% */
  padding-bottom: 40px;
}

.coming-soon > .center img {
  width: 250px;
  border-radius: 400px;
  border: 20px solid white;
  outline-color: red;
  outline-style: outset;
  outline-width: 10px;
}

.center {
  padding-top: 14px;
  padding-right: 60px;
  margin-left: 40px;
}

.right-side {
  padding-left: 50px;
  width: 300px;
  margin-top: 40px;
}

.right-side > h2 {
  color: #f00;
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  padding-top: 20px;
}

.right-side > p {
  color: rgb(92, 91, 91);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px; /* 160% */
  padding-top: 0;
}

.right-side img {
  width: 90px;
}

/* holiday section */
.holiday-container {
  width: 79%;
  height: 730px;
  margin: 120px auto;
  background-image: url("../media/images/Rectangle\ 1.png"),
    url("../media/images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-size: 35%, 100%;
  background-position: right center, bottom;
  background-position-y: 40px 0px;
}

.holiday-text {
  text-align: center;
  padding-right: 55px;
}

.holiday-text > h5 {
  color: #070211;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  padding-right: 30px;
}
.impo-holi {
  color: #f00;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
}
.impo-2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
}
.holiday-text > p {
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px; /* 160% */
  text-align: center;
  width: 600px;
  padding-left: 250px;
  width: 400px;
}

/* holiday images section style */

.grp-75 {
  width: 400px;
  padding-left: 80px;
  padding-top: 20px;
}
.grp-44 {
  width: 200px;
  padding-left: 120px;
  padding-bottom: 130px;
}

/* portfolio section */

.awesome-text {
  padding-left: 160px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.awesome-text > h5 {
  color: #f00;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
}

.awesome-text > h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 900;
  text-transform: capitalize;
}

.awesome-text > p {
  color: black;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px; /* 160% */
}

/* portfolio images  */
.portfolio-images {
  width: 80%;
  margin: 120 auto;
  /* background-color: aqua; */
  padding: 0 120px;
  padding-left: 150px;
}
.portfolio-images img {
  width: 320px;
  padding: 10px;
}

/* contact section style */
.contact-container {
  width: 77%;
  height: 500px;
  margin: 90px auto;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.contact-image > img {
  /* width: 50px; */
  width: 90px;
  padding-top: 80px;
}
.contact-container > h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 900;
  text-transform: capitalize;
}

.contact-container > p {
  color: black;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.last-button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
}

input {
  width: 350px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  border-style: none;
}

input[placeholder] {
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding-left: 30px;
}
.sub {
  color: #fff;
  text-align: center;
  font-family: Inter;
  /* font-size: 20px; */
  font-weight: 600;
  text-transform: capitalize;
}
.no-gap {
  gap: 0;
}

/* footer section */
.foot-contact-container {
  display: flex;
  justify-content: space-between;
  background: #070211;
}

.foot-left {
  padding-top: 10px;
  padding-left: 170px;
 
}
.foot-left > p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  line-height: 25px;
}

.foot-right {
  padding-top: 28px;
  padding-right: 170px;
}

.foot-right span {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
  line-height: 25px;
}

.foot-right img{
  width: 15px;
}